*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
:root h1,h3,th,li{
    color: rgb(31,62,114);
}
:root h1{
    font-size: 50px;
}

:root h2, td, p{
    color:dimgrey;
}

body{
    background: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    z-index: 100;
    background: white;
    height: 70px;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
}


.logo img{
    position: absolute;
    top: 0;
    left:0;
    width: 250px;
    padding: 15px 20px 15px 20px;
    margin-left:200px;
}

.menu{
    overflow: auto;
    position:absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
    font-weight: 700;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 130px; 
 }
 
 .menu li{
     float:left;
     list-style: none;
 }
 .menu a{
    margin-left: 20px;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    color:dimgray;
}

.menu a:hover{
    padding: 20px 15px 20px 15px;
    background-color:royalblue ;
    color:white;
    border-radius: 10%;
}

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    right:60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cover .container_info{
    max-width: 600px;
    margin-top: 60px;
    z-index: 2;
}
.cover h1{
    max-width: 600px;
    font-size: 60px;
    font-weight: 900;
    color: rgb(31,62,114);
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: rgb(31,62,114);
    margin-top: -5px;
}

.cover p{
    font-size: 20px ;
    margin-top: 20px;
    align-items: left;
    color: rgb(135,146,166);
}

.container_vector{
    position: relative;
    bottom: 10px;
    right: 0px;
    width: 600px;
}

.container_vector img{
    width: 800px;

}


.container_table i{
    color: goldenrod;
}

.container_schedule i{
   margin-top:20px;
   justify-content:space-between;
  
}


.container_table ul{
    list-style: none;
    margin: 40px; 
}

.container_table li{
    float: left;
     padding: 0px 30px;
}

.container_table td{
    float:right;
}

.container_marks {
    width: 500px;
    align-content: center;
    position: relative;
    padding-top: 200px;
    right:20px    
}

.container_date table{
    border: white;
    z-index: 100;
    background: linear-gradient(rgba(250, 242, 246, 0.8)) ;
    height: 200px;
    width: 800px;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
}

.container_date tr,th{
   align-items: center;
    font-size: x-large;
    font-weight: 600;
}


.section .container_why{
width: 100%;
padding: 20px;
margin-top: center;
}

.container_whyh1 {
    max-width: 800px;
    left: 100px;
   font-size: 50px;
    display: flex;
    position: relative;   
}

.container_whyp1{
    background-color: white;
    width: 600px;
    padding: 10px 30px; 
    left: 50px;
    font-size: 20px;
    font-weight: 10px;
    color: rgb(80, 82, 87); 
}

.container_benefits{
    padding-top:  var(--marginelementos);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container_benefits h3{
    color:midnightblue; 
 }
.container_benefits i{
    font-size: 50px;
   color:midnightblue
}

.container_benefits li{
   
    color:gray; 
    list-style: none;
}
.container_benefits ul{
    border:solid 3px gray;
    border-radius: 10px;
    height:400px;
    padding:2%;
    width:20%;
    background-position: center;
    align-items: center;
    justify-content: center;
   display: flex;
    margin: 2%;
    
}

.container_preparation{

    width: 100%;
  
    margin: auto;
    padding: 30px;
    background: white;
}

.title{
    font-size: 50px;
    margin-bottom: 40px;
    right: -900px;

   
}

.container_preparation img{
    width: 800px;
    float:left;
    margin-right: 60px;
    margin-bottom: 50px;
}

.container_preparation p{
    font-size: 20px;
    font-weight: 100;
}
   
.benefits{
    padding-top: 5px;
    margin-left: 30px 20px; 
}

.benefits i{
    font-size: 30px;
   color:midnightblue;
  
}

.benefits ul{
   
    height:20px;
    padding:2%;
    width:20%;
    background-position: 600px;
    align-items: left;
    justify-content:space-evenly;
   display: flex;
    margin: 1% 5%;
    border: white;
    background: linear-gradient(rgba(250, 242, 246, 0.8)) ;
    -webkit-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 26px -12px rgba(0,0,0,0.75);
}


.benefits li{
    list-style: none;
    color:gray; 
    margin-left: 10px;
}

.container_contact{
margin:20px;
padding: 50px 70px;
position: relative;
}

.container_title h1{
    max-width: 800px;
    font-size: 600px;
    display: flex;
    position: relative;   
    }

.container_contact p{
    width: 700px;
    margin: 20px;
    padding: 100px;
}

.container_contact img{
    float: right;
     margin-bottom: 300px;
     margin-left: 30px;
    }

  

.footer{
   
    width: 100%;
    padding: 60px 0px 60px 0px;
    background-color: white;
    background-size: cover;
}
.container_footer{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 1200px;
    margin:auto;
    margin-top: 300px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer.logo img{
    width: 180px;
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: gray;
    font-size: 18 px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: gray;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: gray;
    font-weight: 600;
}

.box_fototer a:hover{
    opacity: 0.8;
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: gray;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: gray;
}







